@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

h6{
    text-align: center;
    color: #6a6363;
    font-size:40px;
}

.box-producto{
    margin:5px;
    padding: 10px;
    border: solid 1px #550c18;
    background-color: #f5f5f5;
    color: #6a6363;
}

ul{
    display: flex;
    justify-content: space-between;
}

li{
    border-right: dotted 3px #c4c4c4;
    padding: 10px;
    text-decoration: none;
    outline: none;
    color: #6a6363;
    display: inline;
    text-align: center;
    font-size: 26px;
    margin-right: 30px;
    margin-left: 50px;
}


.imagen{
    margin:5px;
    padding: 10px;
    border: solid 1px #550c18;
    background-color: #f5f5f5;
    color: #6a6363;
}

.mi-carrito{
    display: inline-flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
}


.boton-fc {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #550C18;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 20%;
    border: 1px solid black;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
  }


.boton-fc:hover {
    transform: translatey(3px);
    box-shadow: none;
}

hr {
    height: 2px;
    background-color:#6a6363;
    margin: 0 10px;
  }

.cuenta{
    margin-left: 60%;
    display: flex;
}
