@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-header{
    background-color: #f5f5f5;
    width: 100%;
    border: solid 2px #550c18
}

.logoMobile{
    width: 80%;
    margin: 2px;
    padding: 10px;
    
}

.logoHOW{
    width: 40px;
    
}

.buscador{
    flex: 1 0 auto;
    border: none;
    outline: none;
    border-radius: 2rem 0 0 2rem;
    padding: 0 0 0 15px;
    font-size: 1rem;
    height: 30px;
}

.main-nav{
    margin:5px;
    padding: 10px;
    border: solid 1px #550c18;
    background-color: #550c18;
    color: #c4c4c4;
}

.link{
    border-right: dotted 3px #c4c4c4;
    padding: 10px;
    font-size: 8px;
    text-decoration: none;
    outline: none;
    color: #c4c4c4;
    display: inline;
}

@media(max-width:360px){
    .logoHOW{
        display: none;
    }
}

@media(min-width:361px){
    .logoMobile{
        display: none;
    }
    .logoHOW{
        width: 50%;
    }
    .link{
        font-size: 10px;
    }
}

@media(min-width:768px){
    .logoMobile{
        display: none;
    }
    .logoHOW{
        width: 50%;
    }
    .link{
        font-size: 14px;
    }
}

@media(min-width:1200px){
    .logoMobile{
        display: none;
    }
    .logoHOW{
        width: 60%;
    }
    .link{
        font-size: 16px;
    }
}
