@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-header{
    background-color: #f5f5f5;
    width: 100%;
    border: solid 2px #550c18
}

.logoHOW{
    width:70%;
    border: solid 2px #550c18;
}

.main-nav{
    margin:5px;
    padding: 10px;
    border: solid 1px #550c18;
    background-color: #550c18;
    color: #c4c4c4;
}

.link{
    border-right: dotted 3px #c4c4c4;
    padding: 10px;
    text-decoration: none;
    outline: none;
    color: #c4c4c4;
    display: inline;
}


@media(min-with:361){
    .logoHOW{
        display: none;
    }
}

