<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detalle</title>
    <link rel="stylesheet" href="/css/detalle.css"/>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/card/2.5.4/card.min.js" integrity="sha512-bap2DVGWmQ620Jpimq4jr/z96eYAryS1h7FrrBY2ndRkLAD465BDAGr5k5OIxkd92J5Nt1hRJlhXSra6ECbZdg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <header class="main-header">
        <section>
            <figure>
                <img src="/images/howlogo.png" class="logoHOW"/>
            </figure>
            <figure>
                <img src="/images/how-logo-mobile.png" class="logoMobile"/>
            </figure>
            <form class="search" action="" method="post">
            <fieldset class="buscador">
                <input type="text" placeholder= "Busca tu producto"<i class="fas fa-search">
            </fieldset>
            </form>
        </section>

        <section class="main-nav">
            <a href="/" class="link">Vinos</a>
            <a href="/" class="link">Espumantes</a>
            <a href="/" class="link">Destilados</a>
            <a href="/" class="link">Whiskys</a>
            <a href="/" class="link">Accesorios</a>
        </section>
    </header>

    <!--main-->

    <main>
        <h1 class="titulo">BOX JHONNIE WALKER</h1>
        <h2 class="descripcion">18 Years - Gold Label Reserve - Black Label - Red Label</h2>
        
        <dl class="medios-pagos">
            <dt class="precio">$15.000,00</dt>
            <dt class="cuotas">12 x 1.570,00</dt>
        </dl>
        <article class="medios">
        <a href="/" class="m-pagos"><h2>VER MEDIOS DE PAGOS</h2>/</a>
        </article> 

        <picture class="imagen">
            <img src="/images/johnnie-walker-en-fila.jpeg"/>
        </picture>

        <section class="resenia-producto">
            <h2>Johnnie Walker 18 Años fue inspirado por la tradición de John Walker & Sons de 
                regalar mezclas privadas a un círculo cercano de amigos de la familia. 
                Mezclado con whiskies que se han añejado por mínimo 18 años, 
                combina notas sofisticadas y contemporáneas con sabores clásicos de Johnnie Walker.</h2>

            <h2>Johnnie Walker Gold Label Reserve es la mezcla perfecta para una celebración indulgente. 
                Lujoso, cremoso y con notas de miel, es un gran tributo a la unión armoniosa entre los whiskies de 
                Speyside y Highland con vestigios de madera ahumada de la costa oeste. </h2>

            <h2>Johnnie Walker Black Label es un verdadero ícono, reconocido como referente para 
                todas las otras mezclas de lujo. Creado usando sólo whiskies con un mínimo de 12 años 
                de añejamiento de los 4 rincones de Escocia.</h2>

            <h2>Johnnie Walker Red Label es nuestra mezcla pionera, la que ha presentado nuestro whisky en todo el mundo. 
                Versátil y con un atractivo universal, tiene un sabor acentuado y 
                lleno de carácter que se mantiene incluso al ser mezclado.</h2>
        </section>

        <section>
            <a href="/" class="agregar"><h2>AGREGAR AL CARRITO</h2></a>
        </section>

        <section>
            <a href="/" class="agregar"><h2>VER PRODUCTOS RELACIONADOS</h2></a>
        </section>

       
    </main>

    <footer class="foot">
        <section class="footCateg">
            <h2>Categorías</h2>
            <h2>Vinos 10% off</h2>
            <h2>Espumantes</h2>
            <h2>Destilados</h2>
            <h2>Whiskys</h2>
            <h2>Cristaleria & Regaleria</h2>
        </section>

        <section class="footContact">
            <h2>Contáctanos</h2>
            <h2>+541158050145</h2>
            <h2>contacto@houseofwines.com.ar</h2>
            <h2>Capital Federal, Bs As</h2>
        </section>

        <section class="footRedes">
            <h2>Sigamos Conectados</h2>
        </section>

        <section class="footMedios">
            <h3>Medios de Pagos</h3>
        </section>
    
    </footer>
    
</body>
</html>