<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOW | Detalle de Producto</title>

    <!-- Links-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
   

    <!-- Tipografia -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"/>

    <!-- Iconos -->


    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">


    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/footer.css"/>
    <link rel="stylesheet" href="/css/header.css"/>
    <link rel="stylesheet" href="/css/detalle.css"/>
    
</head>

<body>
 <!-- HEADER -->
 <header id="main-header">
    <section id="header-top">
        <figure id="logo">
            <img src="/images/howlogo.png" id="logoHOW"/>
            <img src="/images/how-logo-mobile.png" id="logoMobile"/>
        </figure>

        <form action="/search" method="GET" id="buscador">
            <input type="text" name="keywords" placeholder="Buscar tu producto, marcas y más" id="buscador-input">
            <label for="buscador-input" id="buscador-boton"><i class="fas fa-search" aria-hidden="true"></i></label>
        </form>
    </section>
    
    <nav id="menu-copa">
        <a href="#main-nav">Menu <i class="fa-solid fa-wine-glass"></i></a>
    </nav>
    <nav id="main-nav" >
        <section id="nav-left">
            <a href="/" class="link">Vinos</a>
            <a href="/" class="link">Espumantes</a>
            <a href="/" class="link">Destilados</a>
            <a href="/" class="link">Whiskys</a>
            <a href="/" class="link">Accesorios</a>
        </section>
        <section id="nav-right">
            <a href="/register" class="link">Crear cuenta</a>
            <a href="/login" class="link">Iniciar sesión</a>
            <a href="/carrito" class="link">Mi carrito</a>
        </section>
        <section>
            <a href="#" class="close-menu">Cerrar</i></a>
        </section>
    </nav>
    
</header>

    <!--main-->

    <main>

        <section class="ref">
            <a href="/" class="subtitulos">Inicio</a>
            <span class="divider"> > </span>
            <a href="/" class="subtitulos">Sección</a>
            <span class="divider"> > </span>
            <a href="/" class="subtitulos">Marca</a>
            <span class="divider"> > </span>
            <a href="/" class="subtitulos">Producto</a>
        </section>


        <h1 class="titulo">BOX JHONNIE WALKER</h1>
        <h2 class="descripcion">18 Years - Gold Label Reserve - Black Label - Red Label</h2>
        
        <dl class="medios-pagos">
            <dt class="precio">$15.000,00</dt>
            <dt class="cuotas">12 x 1.570,00</dt>
        </dl>
        <article class="medios">
        <a href="/" class="m-pagos"><h2>VER MÁS MEDIOS DE PAGOS</h2><img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" class="icon-logo ls-is-cached lazyloaded" alt="visa" width="40" height="25"><img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" class="icon-logo ls-is-cached lazyloaded" alt="mastercard" width="40" height="25"></a>
        </article> 

        <picture class="imagen">
            <img src="/images/johnnie-walker-en-fila.jpeg"/>
        </picture>

        <section class="resenia-producto">
            <h2>Johnnie Walker 18 Años fue inspirado por la tradición de John Walker & Sons de 
                regalar mezclas privadas a un círculo cercano de amigos de la familia. 
                Mezclado con whiskies que se han añejado por mínimo 18 años, 
                combina notas sofisticadas y contemporáneas con sabores clásicos de Johnnie Walker.</h2>

            <h2>Johnnie Walker Gold Label Reserve es la mezcla perfecta para una celebración indulgente. 
                Lujoso, cremoso y con notas de miel, es un gran tributo a la unión armoniosa entre los whiskies de 
                Speyside y Highland con vestigios de madera ahumada de la costa oeste. </h2>

            <h2>Johnnie Walker Black Label es un verdadero ícono, reconocido como referente para 
                todas las otras mezclas de lujo. Creado usando sólo whiskies con un mínimo de 12 años 
                de añejamiento de los 4 rincones de Escocia.</h2>

            <h2>Johnnie Walker Red Label es nuestra mezcla pionera, la que ha presentado nuestro whisky en todo el mundo. 
                Versátil y con un atractivo universal, tiene un sabor acentuado y 
                lleno de carácter que se mantiene incluso al ser mezclado.</h2>
        </section>

        <section>
            <a href="/carrito" class="agregar"><h2>AGREGAR AL CARRITO</h2></a>
        </section>

        <section>
            <a href="/" class="agregar"><h2>VER PRODUCTOS RELACIONADOS</h2></a>
        </section>

       
    </main>

    <!-- FOOTER-->
    <footer>
        <section id="footer-top">
            <article class="art-footer-top">
                <h2>Categorías</h2>
                <section class="cuerpo-de-texto">
                    <p>Vinos hasta 35% off</p>
                    <p>Espumantes</p>
                    <p>Destilados</p>
                    <p>Whiskys</p>
                    <p>Cristaleria & Regaleria</p>
                </section>
            </article>
    
            <article class="art-footer-top">
                <h2>Contáctanos</h2>
                <section class="cuerpo-de-texto">
                    <p>+541158050145</p>
                    <p>contacto@houseofwines.com.ar</p>
                    <p>Capital Federal, Bs As</p>
                </section>
            </article>
    
            <article class="art-footer-top" id="iconos-redes">
                <h2>Sigamos Conectados</h2>
                <picture id="redes">
                    <i class="fab fa-whatsapp iconos-redes" id="chat"></i>
                    <i class="fab fa-facebook-square iconos-redes"></i>
                    <i class="fab fa-instagram iconos-redes"></i>
                    <i class="fab fa-twitter iconos-redes"></i>
                </picture>
            </article>
        </section>
    
        <section id="footer-bottom">
            <h2>Medios de Pagos</h2>
            <picture class="col-md-8">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" class="icon-logo ls-is-cached lazyloaded" alt="visa" width="40" height="25">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" class="icon-logo ls-is-cached lazyloaded" alt="mastercard" width="40" height="25">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png" class="icon-logo ls-is-cached lazyloaded" alt="amex" width="40" height="25">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/diners@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/diners@2x.png" class="icon-logo ls-is-cached lazyloaded" alt="diners" width="40" height="25">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/banelco@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/banelco@2x.png" class="icon-logo ls-is-cached lazyloaded" alt="ar_banelco" width="40" height="25">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/cabal@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/cabal@2x.png" class="icon-logo ls-is-cached lazyloaded" alt="ar_cabal" width="40" height="25">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-naranja@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-naranja@2x.png" class="icon-logo ls-is-cached lazyloaded" alt="ar_tarjeta-naranja" width="40" height="25">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-shopping@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-shopping@2x.png" class="icon-logo ls-is-cached lazyloaded" alt="ar_tarjeta-shopping" width="40" height="25">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png" class="icon-logo ls-is-cached lazyloaded" alt="mercadopago" width="40" height="25">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/argencard@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/argencard@2x.png" class="icon-logo ls-is-cached lazyloaded" alt="ar_argencard" width="40" height="25">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/nativa@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/nativa@2x.png" class="icon-logo ls-is-cached lazyloaded" alt="nativa" width="40" height="25">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/cencosud@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/cencosud@2x.png" class="icon-logo ls-is-cached lazyloaded" alt="ar_cencosud" width="40" height="25">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/pagofacil@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/pagofacil@2x.png" class="icon-logo ls-is-cached lazyloaded" alt="pagofacil" width="40" height="25">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/rapipago@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/rapipago@2x.png" class="icon-logo ls-is-cached lazyloaded" alt="rapipago" width="40" height="25">
            </picture>
        </section>
    
    
    </footer>
</body>
</html>