<footer>
    <section id="footer-top">
        <article class="art-footer-top">
            <h2>Categorías</h2>
            <section class="cuerpo-de-texto">
                <p>Vinos hasta 35% off</p>
                <p>Espumantes</p>
                <p>Destilados</p>
                <p>Whiskys</p>
                <p>Cristaleria & Regaleria</p>
            </section>
        </article>

        <article class="art-footer-top">
            <h2>Contáctanos</h2>
            <section class="cuerpo-de-texto">
                <p><i class="footer-icon fa fa-lg fa-fw fa-phone"></i>+541133557798</p>
                <p><i class="footer-icon fa fa-lg fa-fw fa-at"></i>contacto@houseofwines.com.ar</p>
                <p><i class="footer-icon fa fa-lg fa-fw fa-map-marker-alt"></i>Capital Federal, Bs As</p>
            </section>
        </article>

        <article class="art-footer-top" id="iconos-redes">
            <h2>Sigamos conectados</h2>
            <picture id="redes">
                <i class="fab fa-whatsapp iconos-redes" id="chat"></i>
                <i class="fab fa-facebook-square iconos-redes"></i>
                <i class="fab fa-instagram iconos-redes"></i>
                <i class="fab fa-twitter iconos-redes"></i>
            </picture>
        </article>
    </section>

    <section id="footer-bottom">
        <h2>Medios de Pagos</h2>
        <picture class="col-md-8">
            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" class="icon-logo ls-is-cached lazyloaded" alt="visa" width="40" height="25">
            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" class="icon-logo ls-is-cached lazyloaded" alt="mastercard" width="40" height="25">
            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png" class="icon-logo ls-is-cached lazyloaded" alt="amex" width="40" height="25">
            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/diners@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/diners@2x.png" class="icon-logo ls-is-cached lazyloaded" alt="diners" width="40" height="25">
            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/banelco@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/banelco@2x.png" class="icon-logo ls-is-cached lazyloaded" alt="ar_banelco" width="40" height="25">
            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/cabal@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/cabal@2x.png" class="icon-logo ls-is-cached lazyloaded" alt="ar_cabal" width="40" height="25">
            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-naranja@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-naranja@2x.png" class="icon-logo ls-is-cached lazyloaded" alt="ar_tarjeta-naranja" width="40" height="25">
            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-shopping@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-shopping@2x.png" class="icon-logo ls-is-cached lazyloaded" alt="ar_tarjeta-shopping" width="40" height="25">
            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png" class="icon-logo ls-is-cached lazyloaded" alt="mercadopago" width="40" height="25">
            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/argencard@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/argencard@2x.png" class="icon-logo ls-is-cached lazyloaded" alt="ar_argencard" width="40" height="25">
            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/nativa@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/nativa@2x.png" class="icon-logo ls-is-cached lazyloaded" alt="nativa" width="40" height="25">
            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/cencosud@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/cencosud@2x.png" class="icon-logo ls-is-cached lazyloaded" alt="ar_cencosud" width="40" height="25">
            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/pagofacil@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/pagofacil@2x.png" class="icon-logo ls-is-cached lazyloaded" alt="pagofacil" width="40" height="25">
            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/rapipago@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/rapipago@2x.png" class="icon-logo ls-is-cached lazyloaded" alt="rapipago" width="40" height="25">
        </picture>
    </section>

</footer>