<header id="main-header">
        <section id="header-top">
            <figure id="logo">
                <img src="/images/howlogo.png" id="logoHOW"/>
                <img src="/images/how-logo-mobile.png" id="logoMobile"/>
            </figure>

            <form action="/search" method="GET" id="buscador">
                <input type="text" name="keywords" placeholder="Buscar tu producto, marcas y más" id="buscador-input">
                <label for="buscador-input" id="buscador-boton"><i class="fas fa-search" aria-hidden="true"></i></label>
            </form>
        </section>
        
        <nav id="menu-copa">
            <a href="#main-nav">Menu <i class="fa-solid fa-wine-glass"></i></a>
        </nav>
        <nav id="main-nav" >
            <section id="nav-left">
                <a href="/" class="link">Vinos</a>
                <a href="/" class="link">Espumantes</a>
                <a href="/" class="link">Destilados</a>
                <a href="/" class="link">Whiskys</a>
                <a href="/" class="link">Accesorios</a>
            </section>
            <section id="nav-right">
                <% if (user) { %>
                    <a href ="/users/profile" class="link"><i class="fa-solid fa-user"></i> Bienvenido <%= user.firstName %>!</a>
                <a href="/carrito" class="link">Tus Compras <i class="fa fa-shopping-cart"></i></a>
                <a href ="/users/logout" class="link">Cerrar Sesión</a>

                <% } else { %>
                    <a href="/users/register" class="link">Crear cuenta</a>
                    <a href="/users/login" class="link">Iniciar sesión</a>
                    <a href="/carrito" class="link">Mi Carrito <i class="fa fa-shopping-cart"></i></a>
                <% } %>
            </section>
            <section>
                <a href="#" class="close-menu">Cerrar</i></a>
            </section>
        </nav>
        
    </header>