@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    
}

body{
    background-color: #f5f5f5 ;
    border: solid 2px #550c18;
}

.ref{
    text-align: center;
    margin-bottom: 10px;
}

.subtitulos,
.divider{
    color: #736E6E;
    font-size: 25px;
    display: inline;
    text-align: center;
    text-decoration: none;
    outline: none;
    padding: 2px 1px 0;
}

.titulo{
    color: #6a6363;
    font-size: 45px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.descripcion{
    color: #6a6363;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.precio{
    color: #6a6363;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.precio1{
    color: #6a6363;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-decoration: line-through;
}

.cuotas{
    color: #a50e27;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.medios{
    font-size: 10px;
    text-align: center;
    color: #c4c4c4;
    font-weight: 400;
    
}

.m-pagos{
    text-decoration: none;
    outline: none;
    color: #c4c4c4;
    
}

.m-pagos:hover{
    color: #6a6363;
}

.imagen img{
   width: 20%;
   margin: 4px;
   padding: 10px;
   border: solid 2px #550c18;
   margin-right: 10px;
   border-radius: 5px;
}

#imgCentral{
    display: block;
    margin-left:auto;
    margin-right:auto;
}

.imagen img:hover{
    box-shadow: 0px 0px 10px #6a6363;
}

.resenia-producto{
    color: #6a6363;
    font-size: 15px;
    margin: 2px;
    margin-bottom: 20px;
    padding-left: 40px;
    max-width: 80%;
    text-align: center;
}
.botonAgregar{
    width: 40%;
    background-color: #f5f5f5;
    border: solid 3px #BAB7B7;
    font-size: 20px;
    color: #736E6E;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom:5px;
}

.botonAgregar:hover {
    transform: translatey(3px);
    box-shadow: none;
}


@media(max-width:360px){
    .descripcion{
        text-align: center;
    }
    .resenia-producto{
        display: none;
    }
    .imagen img{
        width: 70%;
        margin: 4rem;
        margin-top: 4px;
        margin-bottom: 4px;
        
    }
    .botonAgregar{
        width: 100%;
        margin: 1px;
    }
    .subtitulos,
    .divider{
        font-size: 10px;
   
    }
}

@media(min-width:361px){
    .descripcion{
        text-align: center;
    }
    .resenia-producto{
        font-size: 15px;
        max-width:95%;

    }
    .imagen img{
        width: 70%;
    }
    .agregar{
        width: 100%;
        margin: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .botonAgregar{
        width: 80%;
    }

    .subtitulos,
    .divider{
        font-size: 10px;
    }
}

@media(min-width:768px){
    .imagen img{
        width: 40%;
    }
    .resenia-producto{
        font-size: 30px;
        font-weight: 400;
    }
    .botonAgregar{
        width: 50%;
    }
    .subtitulos,
    .divider{
        font-size: 15px;
    }
   
}

@media(min-width:1200px){
    .imagen img{
        width: 24%;
        margin-bottom: 2px;
        
    }
    .resenia-producto{
        font-size: 35px;
        font-weight: 400;
    }
    .subtitulos,
    .divider{
        font-size: 25px;
    }
    .botonAgregar{
        width: 40%;
    }
}