<html>
    <%- include('../partials/head.ejs') %> 
<body>
    <%- include('../partials/header.ejs') %>
<main>
    <link rel="stylesheet" href="/css/users/errorLogueado.css"/>
    <section>
        <div class="linea"></div>
        <h3 class="saludoBienvenida"> ¡Bienvenido! No estás logueado</h3>
        <div class="linea"></div>
        <div class="subtitulos"><p class="mt-3 text-center"><a href="/users/register" class="subtitulos">Registrate</a></p>
        <div class="linea"></div>
        <div class="subtitulos"><p class="mt-3 text-center"> <a href="/users/login" class="subtitulos">Iniciá sesión</a></p></div>

    </section>

</main>
</main>
<%- include('../partials/footer.ejs')  %>
</body>
</html>