<%- include('../partials/head.ejs')  %>
    <link rel="stylesheet" href="/css/header.css"/>
    <body>
        <%- include('../partials/header.ejs') %>
        <main>
            <link rel="stylesheet" href="/css/users/login.css"/>
                <form action="/users/access" method="post" class="formulario">
                <nav>
                    <a href="#" class="subtitulos">Inicio</a>
                    <span class="divider"> > </span>
                    <a href="/users/login" class="subtitulos">Mi cuenta</a>
                    <span class="divider"> > </span>
                    <a href="/users/login" class="subtitulos">Login</a>
                </nav>

                <section>
                    <% if (locals.errors) { %>
                        <% for( let error in errors ) { %>
                            <p>  <%= errors[error].msg %>  </p>
                        <% } %>
                    <% } %>
                </section>
                
                <div class="titulo"><h1>Iniciá sesión</h1></div>
                <div class="control-formulario">
                    <input type="text" name="nombreUsuario" placeholder="Email" class="control" required="">
                </div>
                <div class="control-formulario">
                    <input type="password" name="contrasena" placeholder="Contraseña" class="control" required="">
                </div>
                    <div><a href="#" class="reset-password"><b>¿Olvidaste tu contraseña?</b></a></div>
                <button type="submit" class="boton-formulario">INICIAR SESIÓN</button>
                <div class="subtitulos"><p class="mt-3 text-center">¿No tenés cuenta aún? <a href="/users/register" class="subtitulos"><b>Crear cuenta</b></a></p></div>
            </form>
    
        </main> 
        <%- include('../partials/footer.ejs')  %>
</body>
</html>